.login-div {
  align-items: center;
  justify-content: center;
  display: flex;
}
.login-box-div {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 0 auto;
}
.login-box {
  background-color: #f9fafb;
  border: 1px solid rgba(80, 80, 80, 0.8);
  color: #111827;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  padding: 0.625rem;
  width: 20rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

.upwModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.upwModal div {
  display: flex;
  width: 300px;
  height: 100px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #111827;
  align-items: center;
  justify-content: space-between;
}
.upwModal button {
  width: 40px;
  height: 30px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #111827;
}
.clickbuttons {
  display: flex;
  justify-content: space-between;
}
.cancle {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  text-align: center;
  background: #f9fafb;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  user-select: none;
  width: 150px;
  height: 40px;
  font-size: 14px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cancle:hover {
  background-color: #4581f0;
}
.nextButton {
  background-color: #4581f0;
  color: white;
  width: 150px;
  height: 40px;
}

.signUpDiv Form {
  gap: 10px;
}
.signUpDiv div div div {
  display: flex;
  text-align: left;
  gap: 10px;
  justify-content: space-between;
}

.loginButton {
  background-color: #4581f0;
  color: white;
  width: 315px;
  height: 40px;
  border-radius: 5px;
}

.emailModalFull {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.emailModal {
  position: relative;
  display: flex;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 140px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.emailModal button {
  width: 92px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  align-items: center;
}
