.fc-day-sun a {
  /* 일요일 컬러 */
  color: #f35252;
}

.fc-day-sat a {
  /* 토요일 컬러 */
  color: #435aed;
}
.fc {
  background-color: white;
  padding: 10px;
}
html .fc .fc-toolbar.fc-header-toolbar {
  padding: 10px 20px;

  font-size: 12px;
  font-weight: 500;
  background-color: #435aed;

  border-radius: 20px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.fc .fc-button {
  background-color: transparent;
  color: var(--subColor1);
  border: none;
}

.fc .fc-button:hover {
  background-color: transparent;
}

/* 포커스된 상태 테두리 없앰 */
.fc .fc-button-primary:focus {
  border: none;
  box-shadow: none;
}

.fc-icon fc-icon-chevron-left {
  all: unset !important;
}
.calendar-container {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
html .calendar-div {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.modal {
  position: fixed;
  transform: translate(-50%, -50%);
  background: rgb(165, 165, 165);
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 8px;
}

.modal-content {
  display: flex;
  align-items: center;
}

.modal button {
  font-size: 14px;
  width: 50px;
  margin: 5px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.modal button:hover {
  background-color: #0056b3;
}
